.list {
  max-width: 500px;
  text-align: center;
  list-style: none;
}

.listItemText {
  margin-right: 10px;
}

.button {
  max-width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(223, 178, 119);
}

.button:hover,
.button:focus {
  background-color: red;
}
